/* body {
  margin:0px; 
  padding:0px; 
  border:0px;
} */
#div1{
    background-color: blue;
}
h1{
  border-radius: 25px;
  background: #73AD21;
}
h2{
  border-radius: 25px;
  background: #73AD21;
}
.nav-bar {
       border-bottom: 1px;
    }
